*{
    font-family: 'Itim';
}

html{
    height:100%;
    width:100%;
}

body{
    overflow: hidden;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    display: flex;
}

#page{
    width: 100%;
    height:100%;

}
#nav-bar{
    margin-left: 0;
    height:100%;
    width:18%;
    z-index: 0;
    background-color: #14161e;
}

#page{
    height:100%;
    width:82%;
}








 