:root{
    --text: #020906;
    --background: #e5faf4;
    --primary: #a4e1ef;
    --secondary: #f4becf;
    --accent: #c34022;
}

#SEARCH{
    background-color: var(--primary);
    color: var(--text);
    width:100%;
    height:100%;
    overflow:hidden;
}

