:root{
    --text: #020906;
    --background: #e5faf4;
    --primary: #a4e1ef;
    --secondary: #f4becf;
    --accent: #c34022;
}

#SEARCH{
    background-color: var(--primary);
    color: var(--text);
    width:100%;
    height:100%;
    overflow:hidden;
}

#search-section{
    background-color:#31a4ff;
    display:grid;
    height:25%;
}

#search-bar{
    position: relative;
    margin:auto;
    width:70%;
    height:50%;
    display:grid;
}

.search input{
    width: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.8s;
    outline: none;
    border: none;

}
.search:hover input{
    transition: 0.8s;
    width: 500px;
  
    border-radius: 20px;
  
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards-container{
    display:block;
    height:fit-content;
    max-height:500px;
    padding:20px;
    overflow-y:hidden;
    background-color: white;
    
}

.card-group{
    position: relative;
    display:flex;
    height:300px;
    justify-content: space-around;
    align-items: center;
}

.card{
    height:250px;
    width:200px;
    border-radius: 20px;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.card.fullscreen{
    z-index: 999;
    background-color: white;
    position: absolute;
    top:10%;
    width:80%;
    height:130%;
}
.extra-info{
    display: none;
}
.card.fullscreen .extra-info{
display: block;
}


.s-profile-pic-container{
    height:100px;
    display:grid;
    
}

.s-profile-pic{
height:50px;
width:50px;
margin:auto;
border-radius: 100%;
background-image: url(../images/9.png);
background-repeat: no-repeat;
background-size: cover;
}

.s-profile-info-container{
    background-color: #F7F7F7;
    display:flex;
    height:100px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    
}

.s-profile-status-container{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

