:root{
    --text: #020906;
    --background: #e5faf4;
    --primary: #a4e1ef;
    --secondary: #f4becf;
    --accent: #c34022;
}

#SEARCH{
    background-color: var(--primary);
    color: var(--text);
    width:100%;
    height:100%;
    overflow:hidden;
}

#search-section{
    background-color:#31a4ff;
    display:grid;
    height:25%;
}

#search-bar{
    position: relative;
    margin:auto;
    width:70%;
    height:50%;
    display:grid;
}

.search input{
    width: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.8s;
    outline: none;
    border: none;

}
.search:hover input{
    transition: 0.8s;
    width: 500px;
  
    border-radius: 20px;
  
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards-container{
    display:block;
    height:fit-content;
    max-height: 80vh;
    padding:20px;
    overflow-y:hidden;
    background-color: white;
    z-index: -100;
    
}

.card-group{
    position: relative;
    display:flex;
    height:500px;
    justify-content: space-around;
    align-items: center;
}

.card{
    height:250px;
    width:200px;
    border-radius: 20px;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}
#bar-button-container #search-button:hover{
    cursor: pointer;
}


.card.fullscreen{
    z-index: 999;
    background-color: white;
    position: absolute;
    top:10%;
    width:80%;
    height:130%;
}
.extra-info{
    display: none;
}
.card.fullscreen .extra-info{
display: block;
}


.s-profile-pic-container{
    height:100px;
    display:grid;
    
}

.s-profile-pic{
height:50px;
width:50px;
margin:auto;
border-radius: 100%;
background-image: url(../images/9.png);
background-repeat: no-repeat;
background-size: cover;
}

.s-profile-info-container{
    background-color: #F7F7F7;
    display:flex;
    height:100px;
    width:100%;
    justify-content: space-around;
    align-items: center;
    
}

.s-profile-status-container{
    height:50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}


/* PROFILE CARD WITH all ITS OPTION*/

.card-wrapper{
  position: relative;
}
.wrapper,.wrapper .img-area,.social-icons a,.buttons button{
    background-color: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}



.wrapper{
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 z-index: 2;
  background-color:white
}
.wrapper .icon{
  font-size: 17px;
  color: #31344b;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  top: 15px;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}
.wrapper .icon i{
  position: relative;
  z-index: 9;
}
.wrapper .icon.arrow{
  left: 15px;
}
.wrapper .icon.arrow:hover{
    color: #2196f3;
  }
.wrapper .icon.dots{
  right: 15px;
}
.wrapper .icon.dots:hover{
    color: #2196f3;
  }
.wrapper .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
}
.img-area .inner-area{
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}

.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.wrapper .name{
  font-size: 23px;
  font-weight: 500;
  color: #31344b;
  margin: 10px 0 5px 0;
}
.wrapper .about{
  color: #44476a;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.buttons button:hover{
    color: #2196f3;
    background: #ecf0f3;
  }

.buttons button:hover:before{
  z-index: -1;
  border-radius: 5px;
  color: #2196f3;
  background: #ecf0f3;
}

.wrapper .buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #31344b;
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

.buttons button:first-child{
  margin-right: 10px;
}
.buttons button:last-child{
  margin-left: 10px;
}

.wrapper .social-share{
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}
.social-share .row{
  color: #2196f3;
  font-size: 17px;
  cursor: pointer;
  position: relative;
}
.social-share .row::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #e0e6eb;
  margin-left: -25px;
}
.row:first-child::before{
  background: none;
}

.social-share .row i.icon-2{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.row:nth-child(1):hover i.fa-heart,
.row:nth-child(2):hover i.fa-comment{
  opacity: 1;
  pointer-events: auto;
}

/* OPTION SECTION BEHIND THE POST CARD*/

.visit-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-35px);
  transition: 0.3s ease-in-out;
  left:25%;
  width:50%;
  height:50px;
  z-index:1 ;
  border-radius: 10px;
  background-color: whitesmoke;
  color:#31a4ff;
  font-size: 1.2rem;
}

.visit-box:hover{
  background-color:#31a4ff;
  color:white;
  transform: translateY(-10px);
  cursor:pointer;
}






